* {
	box-sizing: border-box;
	margin: 0px;
}
html {
	background: rgb(178, 127, 212);
	background: linear-gradient(
		90deg,
		rgba(178, 127, 212, 1) 0%,
		rgba(245, 170, 79, 1) 95%,
		rgba(237, 191, 126, 1) 100%
	);
}
h1 {
	text-align: center;
	color: rgb(8, 149, 243);
	margin: 30px;
}
h2 {
	margin: 4px;
}
main {
	display: flex;
	justify-content: space-around;
}
#Books {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}
#Books div {
	min-width: 400px;
	height: auto;
	background-color: silver;
	border-radius: 20px;
	padding: 5px 5px 5px 5px;
}
p {
	margin: 6px;
}
#wrongDetails {
	font-size: 15px;
}
#newbook,
#addBook,
#removeBook {
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	background-color: turquoise;
}
#newbook:hover,
#addBook:hover,
#removeBook:hover {
	color: turquoise;
	background-color: rgb(170, 122, 122);
	cursor: pointer;
}
#submit {
	padding: 5px;
	width: 150px;
	border-radius: 19px;
	border: none;
}
#submit:hover {
	color: rgb(253, 255, 255);
	background-color: rgb(7, 0, 7);
	cursor: pointer;
}
.removeThisBook {
	float: right;
	border-radius: 20px;
	border: none;
	height: 100%;
	width: 50px;
	background-color: silver;
}
.removeThisBook:hover,
.statusButton:hover {
	background-color: rgb(170, 164, 209);
}
.statusButton {
	float: left;
	height: 100%;
	width: 50px;
	border-radius: 20px;
	border: none;
	background-color: silver;
}
#sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
